
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Hauteur de la zone principale */
}

/* =================zone blanche de connexion ================*/
    .connexion {
        background: #ffffff;
        padding: 30px;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        width: 300px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .connexion h2{
        color: #EC5A13;
        margin-bottom: 20px;
        font-size: 30px;
        justify-content: center;
        display: flex;

    }

    .lienInscription {
        justify-content: center;
        display: flex;
        margin-bottom: 20px;
    }
/* ======================= champs ============================= */
    .groupe-champ {
        margin-bottom: 15px;
    }

    .groupe-champ label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000000;
        font-size: 20px;
    }

    .groupe-champ input {
        width: 100%;
        padding: 12px;
        border: 1px solid #CAD1D9;
        border-radius: 10px;
        box-sizing: border-box; 
    }

/* =====================Style du bouton de connexion =====================*/
    .boutonConnexion {
        background-color:#EC5A13;
        color: white;
        width : 100%; /* Le bouton prend toute la largeur */
        padding: 12px; /* Augmentation du padding pour un bouton plus grand */
        border: none; 
        border-radius: 13px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    .boutonConnexion:hover {
        background-color: #d14d0fb2; /* Couleur légèrement plus foncée au survol */
    }

    /*=============Boutton inscription ==================*/
    .boutonInscription {
        background-color:#EC5A13;
        color: white;
        width : 100%; /* Le bouton prend toute la largeur */
        padding: 12px; /* Augmentation du padding pour un bouton plus grand */
        border: none; 
        border-radius: 13px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    .boutonInscription:hover {
        background-color: #d14d0fb2; /* Couleur légèrement plus foncée au survol */
    }
/* =================== Style de la page profil =====================*/
    /* Style des infos du profil */
    .groupe-info {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .groupe-info label {
        display: block;
        color: #767676; /* Gris pour le label */
        font-size: 20px !important;
        margin-bottom: 5px;
    }

    .groupe-info p {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        color: #002f34;
    }

    hr {
        border: 0;
        border-top: 1px solid #CAD1D9;
        margin: 20px 0;
    }

    /* Bouton de déconnexion simple */
    .lienDeconnexion {
        display: block;
        text-align: center;
        background-color: #f4f6f7;
        color: #D32F2F;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid #D32F2F;
    }

    label .email {
        font-size: 20px !important;
        color: #002f34;
    }

/* =================== Style de la page admin =====================*/
.admin-header {
    text-align: center;
    margin-bottom: 30px;
}

.admin-header h2 {
    margin-left: 50px;
    color: #EC5A13;
    font-size: 28px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.admin-header p {
    font-size: 16px;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Force le bloc blanc à s'adapter au tableau */
.connexion {
    width: 400px;            /* Ajustement en fonction des pages  */
    max-width: 900px;      /* Pour éviter qu'il soit trop large sur grand écran */
    margin: 0 auto;        /* Centre le bloc blanc */
    padding: 20px;
    overflow-x: auto;       
}

/* Style du tableau pour qu'il reste dans le bloc */
.table-admin {
    width: 100%;           /* Occupe toute la largeur du bloc blanc */
    border-collapse: collapse;
}

.table-admin th {
    text-align: left;
    color: #888;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 15px 5px;
    border-bottom: 1px solid #eee;
}

.table-admin td {
    padding: 15px 5px;
    border-bottom: 1px solid #f9f9f9;
    font-size: 0.9rem;
    font-weight: bold;      
}

.lien-supprimer {
    color: blue;            
    text-decoration: underline;
    font-weight: bold;
}